* {
    margin: 0;
    padding: 0;
}

#headerLinks > a {
    text-decoration: none;
    color: white;
}

#logOutButton:hover{
    cursor : pointer;
}

.hyperlink-no_style{
    text-decoration: none;
}

#divesDisplayed{
    font-size: bold;
    margin-top: 10px;
    padding-bottom: 10px;
}

.center_display{
    text-align: center;
    align-content: center;
}

.button{
    margin-left:0.5%;
    background-color: blue;
    font-size: bold;
    color: white;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10vw;
    background-color: black;
    color: white;
}



#logo {
    max-width: 400px;
    max-height: 400px;
}

#headerLinks {
    right: 40px;
    display: flex;
    flex-direction: row;
    gap: 5vw;
    font-size: 2em;
    color: white;
}

.center-title{
    text-align: center;
    margin-top: 50px;
}

#logoAddMember {
    width: 1%;
}

.userError {
    color:red;
}

.diveInfos{
    text-align: center;
}
