* {
    margin: 0;
    padding: 0;
}

#headerLinks {
    position: absolute;
    float: right;
}

#headerLinks > a {
    text-decoration: none;
    color: white;
}

#logOutButton {
    text-decoration: none;
    color: white;
}

#logOutButton:hover{
    cursor : pointer;
}

.hyperlink-no_style{
    text-decoration: none;
    color: black;
}

.hyperlink-no_style:hover{
    text-decoration: none;
    color: black;
}

#divesDisplayed{
    font-size: bold;
    margin-top: 10px;
    padding-bottom: 10px;
}

.center_display{
    text-align: center;
    align-content: center;
}

.button{
    margin-left:0.5%;
    background-color: blue;
    font-size: bold;
    color: white;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10vw;
    background-color: black;
}



#logo {
    max-width: 400px;
    max-height: 400px;
}

#headerLinks {
    right: 40px;
    display: flex;
    flex-direction: row;
    gap: 5vw;
    font-size: 2em;
    color: white;
}

.center-title{
    text-align: center;
    margin-top: 50px;
}

#logoAddMember {
    width: 1%;
}

.userError {
    color:red;
}

#diveInfos {
    text-align: center;
    margin-top: 5vh;
}

#diveMainInfos {
    margin: auto;
    width: fit-content;
    text-align: left;
}

#diveMembers {
    margin: auto;
    width: 50vw;
    gap: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#diveMembers p {
    font-weight: bold;
    border: 1px solid black;
    padding: 5px;
    margin: 0;
}


#loginForm {
    display: flex;
    flex-direction: column;
    gap: 3vh;
    font-size: 1.5em;
    width: fit-content;
    margin: auto;
}

#rememberMeDiv {
    display: none;
}

#licenceDiv, #passwordDiv {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#buttonLogIn {
    margin: auto;
    font-size: 1em;
    width: 20%;
    border-radius: 100px;
    padding: 15px;
}
